@import url("./iconfont.css");
@import url("theme/index.css");
@import url("muse-ui.css");
* {
	-webkit-user-select: none;
	-ms-touch-select: none;
	-ms-touch-action: none;
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei", "Georgia Pro", "Times New Roman", Helvitica, Verdana, Arial, san-serif;
}

@media screen {
	* {
		margin: 0;
		padding: 0;
		font-family: "Microsoft YaHei", "Georgia Pro", "Times New Roman", Helvitica, Verdana, Arial, san-serif;
		-webkit-tap-highlight-color: transparent;
	}

	html {
		overflow-y: auto
	}
}

html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 微软雅黑, "microsoft yahei", simsun, "monotype corsiva";
	font-size: 0.825rem;
	color: #6c6c6c;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	overflow-y: scroll;
	position: relative;
}

body .jdh-layer .layui-layer-title{background:#c00; color:#fff; border: none;}
body .jdh-layer .layui-layer-btn{}
body .jdh-layer .layui-layer-btn a{background:#F44336;}
body .jdh-layer .layui-layer-btn .layui-layer-btn0{ border-color: #F44336; }
body .jdh-layer .layui-layer-btn .layui-layer-btn1{background:#EEEEEE;}
body .jdh-layer .layui-layer-setwin .layui-layer-close2 { }

body .jdh_loading .layui-layer { left: 0; top: 0; right: 0; bottom: 0; }
body .jdh_loading .layui-layer-content { color: #DDDDDD; width: 100%; text-align: center; background-position: center top; padding-top: 55px; margin-top: 40%; }

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}




.common_header{ position: fixed; height: 4rem; top:0px; left: 0px; right: 0; display: flex; z-index: 999; justify-content: space-around; flex-direction: row; font-size: 1.2rem; padding: 1.5rem 1rem .8rem 0rem; box-shadow: 0px 1px rgba(0,0,0,0.3); background: #FFFFFF; }
.common_header .common_back{ width:2rem; padding: 0 1rem 0 1.5rem;  }
.common_header .common_title{ flex-grow: 1; text-align: center; }
.common_header .common_right{  }

.common_content{ padding: 1rem; font-size: 1rem; }

.bold{ font-weight: bold; }

.color_gray {
	color: #999999;
}

.color_orange {
	color: #fe7454;
}
.color_green {
	color:#12b548
}
.color_black{
	color:#000000
}

.bigfont{ font-size: 1.2rem; }
.common_radius_button_revert { color: #FE7454 ; background-color: #FFFFFF; border-radius: 3rem; border: 1px solid #FE7454; display: inline-block; }	

@media screen and (max-width:320px) {
	.common_radius_button_revert{ padding: .1rem .3rem; font-size: .725rem;}
}

.common_radius_button_normal { color: #FFFFFF ; background-color: #FE7454; border-radius: 3rem; outline: 0; border: 0; padding: .3rem 1rem .3rem 1rem; }


.goods_promotion {
	height: 100%;
}

.split_bar {
	width: 100%;
	height: 0.5rem;
	background-color: #EEEEEE;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.sign_header {
	background: url(../img/top_qd_bg.png);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
}

.top_front {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* 垂直居中 */
	width: 100%;
	height: 100%;
	justify-content: center;
	/* 水平居中 */
}

.top_title {
	font-weight: normal;
	color: #FFFFFF;
	font-size: 2.5rem;
	padding: 0 0 1rem 0;
}

.sign_unit_small {
	font-size: 1.8rem;
}

.sign_button {
	outline: none;
	outline-width: none;
	background-image: linear-gradient(#ffebc0,#ffa050);
	border-radius: 2.5rem;
	box-shadow: 0 0 1rem rgba(255,0,0,0.4);
	border: none;

	/* padding: .3rem 2.5rem; */
	width: 58%;
	height: 3rem;
	font-size: 1.2rem;
	display: block;
	color: #FF0000;
	margin: 0 auto;
}
.no_sign_button_color{background-image: linear-gradient(#cdb19e,#f3e4d1);color: #666666;}

.top_nav_list {
	width: 100%;
	display: flex;
	list-style: none;
	text-align: center;
	margin-bottom: 1rem;
	
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	font-size: .825rem;
	color: #000000;
}

.top_nav_list li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top_nav_list li img {
	width: 60%;
	clear: both;
	padding-bottom: 0.5rem;
}

.index_task_history{ display: flex; justify-content: space-around; padding: .8rem 1rem .8rem 1rem; flex-direction: row; align-items: center; font-size: 1rem; font-weight: bold; color: #000000; }
.index_task_history div{ display: flex; justify-content: center; align-items: center;}
.index_task_history .iconfont { font-size: 1.5rem; color: #FE7454; margin-right: .3rem;}

.index_video_banner{ display: flex; flex-direction: row; justify-content: space-around; align-items: center; padding: 1rem; }
.index_video_banner .sp_button { outline: 0; box-shadow: none; background-color: #FE7454; background-image: linear-gradient(#ffebc0,#ffa050); color: #FF0000 }
.index_video_banner .disabled { background-image: linear-gradient(#EEEEEE,#CCCCCC); color: #666666;
transition-duration: .3s;
-webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
transition-timing-function: cubic-bezier(.23,1,.32,1);
 }
.index_video_banner .sp1 { flex-grow: 1;}
.index_video_banner .sp1 span{ display: block; color: #333333; font-size: .9rem; }
.index_video_banner .sp1 .hui_beg { display: inline-flex; font-size: .7rem; color: #FE7454; justify-content:flex-start; align-items: center; background: rgb(252,242,181); border-radius: 1rem; padding: .0rem .6rem 0 0rem; text-align: left;}
.index_video_banner .sp1 .hui_beg img{ width: 1rem; }

.index_video_banner .sp2 { flex-shrink: 0;  }

.bottom_nav {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #FFF;
	z-index: 900;
}

.bottom_nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: space-around;
}

.bottom_nav ul li {
	list-style-type: none;
	padding: 0.45rem 0;
	margin: 0;
	text-align: center;
}

.bottom_nav ul li.active {
	color: #ff8934;
}

.bottom_nav ul li.active:active {
	font-weight: bold;
	filter: grayscale(1);
	filter: blur(0.2rem);
}

.bottom_nav ul li span {
	display: block;
	font-size: 0.8rem;
}

.sign_layer {
	background-color: rgba(100, 100, 100, .6);
	display: block;
	position: fixed;
	z-index: 998;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.sign_box {
	position: fixed;
	background-image: url(../img/sign_layer_bg.png);
	background-size: contain;
}

.sign_close_button {
	width: 93%;
	height: 1.875rem;
	display: block;
	text-align: right;
	margin-top: -3rem;
	color: #FFFFFF;
}

.sign_inner {
	width: 90%;
	height: 100%;
	padding-top: 2.2rem;
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sign_t1{ font-size: 1.2rem; color: #eda431; height: 2.7rem; line-height: 2.7rem;  }
.sign_t1 strong{ padding: 0 .225rem; }
.sign_t2 { font-size: 1.3rem; padding-top: 1.1rem; color: #fc575a; flex-grow: 1; }
.sign_t2 strong{ font-size: 4rem; }
.sign_t3 { height: 3rem; }
.sign_t3 .sign_ed_bt {
	width: 80%;
	font-size: 1.3rem;
	font-weight: bold;
	height: 2.8rem;
	border-radius: 3rem;
	background-image: linear-gradient(#fffc9a,#f8c004);
	box-shadow: 0px 0px 10px rgba(255,0,0,0.7);
	color: #b56408;
}

.top_guize_box {
	position: relative;
	z-index: 2;
	top: 3rem;
	right: 0;
	width: 4.3rem;
	float: right;
	margin-top: -66%;
	font-size: .8rem;
}

.top_guize_box .guize_bg {
	background: rgb(250, 220, 155);
	border-radius: 1rem 0 0rem 1rem;
	padding: 0.2rem .5rem .2rem .7rem;
	color: rgb(231, 57, 33);
	margin-bottom: .5rem;
}


.sign_header_mini_box {
	background-image: url(../img/top_qd_mini_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
}

.sign_header_mini {
	height: 5rem;
	display: flex;
	justify-content: center;
}

.sign_header_mini .signed_coin_box {
	display: flex;
	background: rgba(255, 255, 255, 0.4);
	width: 90%;
	border-radius: 2.5rem;
	align-self: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.spaceline {
	width: 100%;
	height: 1rem;
	background: transparent;
}

.round_bgs {
	width: 100%;
	height: 1rem;
	background: #FFFFFF;
	border-radius: 1rem 1rem 0 0;
}

.sign_header_mini .signed_coin_box .signed_coin {
	font-size: 1.5rem;
	text-indent: 1.5rem;
	color: #FFF;
}

.sign_header_mini .signed_coin_box .signed_profit_button {
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #ffc17b;
	background-image: url(../img/button_bg_h.png);
	background-size: contain;
	background-repeat: repeat-x;
	margin: 0.3rem;
	border-radius: 25rem;
	color: #FF0000;
	box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
}

.sign_header_mini .signed_coin_box .signed_profit_button:active {
	background-color: #FFFF00;
	color: #FFFF00;
	box-shadow: 2px 2px 8px rgba(255, 0, 0, 0.8);
}

.add_bars{ height: 100px; }

.demo-loadmore-wrap {
  width: 100%;
  max-width: 2048px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.demo-loadmore-content {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.products_lists_box{
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
}

.product_descs{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* 赚钱部分 */
.zuanqian_header {
	background-image: url(../img/header_zq_bg.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 4.5rem;
	overflow: scroll hidden;
	display: flex;
	justify-items: flex-start;
	justify-content: space-around ;
	align-items: center;
	position: fixed;
	z-index: 8;
}
.zuanqian_header .zuanqian_header_left{
	padding: 1.5rem 1.5rem 1rem 1rem;
	color: #FFFFFF;
	
}
.zuanqian_header_center{
	/* background-color: #009F95; */
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: stretch;
}
.zuanqian_header_center div{ color: #FFFFFF; display: flex; flex-direction: column; justify-content: stretch; align-items: center; }
.zuanqian_header_center div span:first-child{ font-size: 2rem;}
.zuanqian_header_center div span .small_font { font-size: 1.2rem; padding-left: .3rem; }
.zuanqian_header_center div a{ color: #FFFFFF; border: 1px solid #FFFFFF; border-radius: 2rem; padding: .1rem 1rem;}
/* .zuanqian_menu_box{ overflow: hidden; background: #0000FF; width: 100%; height: 3rem; } */
.zuanqian_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 3rem;
	white-space: nowrap;
	line-height: 3rem;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #FFFFFF;
	z-index: 8;
	
}

.scroll_menus { overflow: hidden; width: 100%; }
.scroll_right_menus{ padding: 0 1rem 0 1rem;}
.scroll_right_menus:active{ box-shadow: 0rem 0rem 1rem rgba(0,0,0,.7); }
.zuanqian_list{ display: flex; width: 100%; position: relative; top: 0px; }
.zuanqian_list li {
	padding: 0 .8rem;
	display: inline-block;
}

.zuanqian_list li:last-child { padding-right: 2rem; }


.zuanqian_list .active {
	font-size: 1.1rem;
	font-weight: bold;
	color: #F44336;
}

.art_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	font-size: 1.2rem;
	color: white;
	padding: 1rem;
}

.art_left,.art_right { font-size: .8rem; padding-left: 1rem; padding-right: 1rem; }
.art_left{ padding-left: 0rem; }
.art_left .icon-fanhui1 {
	font-size: 1.2rem;
}
.art_title { flex-grow: 1; font-size: 1.1rem; text-align: center; }


.survey_dt_header { display: flex; padding: 1.8rem 0 1rem 0; flex-direction: row; justify-content: space-between; align-items: center; color: #FFFFFF; font-size: 1.1rem;}
.survey_dt_header .left{ width: 2rem; display: flex; justify-content: flex-start; z-index: 99;}
.survey_dt_header .left .iconfont { color: #FFFFFF; font-weight: bold; margin-left:.8rem; }
.survey_dt_header .center{ text-align: match-parent; padding-left: 3.4rem;}
.survey_dt_header .right{ display: flex; justify-content: flex-end; padding-right: .8rem; }

.gold_coin_box {
	flex-grow: 0;
	padding: .1rem .8rem;
	border: 1px solid #FFFFFF;
	border-radius: 25rem;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.img_icon{
	width: 1.1rem;
	margin-right: .5rem;
	display: inline-block;
}

.art_content {
	width: 95%;
	margin: 0 auto 1rem auto;
	border-radius: .8rem;
	background-color: #FFFFFF;
}

.art_content .inner_content {
	width: 92%;
	margin: 0 auto;
	padding-top: .5rem;
}

.art_badge {
	background-color: #fe7454;
	color: #FFFFFF;
	border-radius: .5rem 0 .5rem;
	padding: .2rem 1rem .2rem 1rem;
	display: block;
	font-size: 1rem;
}

.art_badge_next {
	margin-left: 1rem;
}

.next_title {
	margin: 0.8rem auto 1rem auto;
	width: 95%;
	text-align: left;
	font-size: 1rem;
	white-space: normal;
	word-break: break-all;
}

.art_qrcode_org img {
	width:10rem;
	height: 10rem;
}

.art_qrcode_mask {
	position: relative;
	margin-top: -10.5rem;
}

.art_qrcode_mask img {
	width:11rem;
	height: 11rem;
	filter: grayscale();
	filter: blur(.3rem);
}

.mu-warning-color {
	background-color: #fe7454;
}

.art_img_uploader {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	font-size: 1.2rem;
}

.message_mash_bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 901;
}
.testsssssss{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #F0C78A; z-index: 9999; }
.message_jubao {
	position: fixed;
	left: 10%;
	right: 10%;
	top: 15%;
	background-color: #FFFFFF;
	z-index: 999;
	border-radius: .6rem;
	display: flex;
}

.art_form_title {
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	padding: 1.5rem 0 1.5rem;
	color: #000000;
}

.radio_groups {
	display: flex;
	width: 90%;
	margin: 0 auto;
	line-height: 2.2rem;
}

.switch_groups {
	background-color: #F5F5F5;
	line-height: 2.2rem;
	padding: .5rem 0 .5rem 0;
}

.switch_items {
	padding-left: 1.5rem;
}

.button_groups {
	text-align: center;
	box-sizing: border-box;
	padding-top: 1rem;
}

.button_groups button {
	width: 95%;
}

.jubao_close {
	position: absolute;
	color: #FFFFFF;
	font-size: 1.5rem;
	margin: 3rem 48%;
}

.message_verification {
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 999;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
}
.zuanqian_header_right_text{
	width: 100%;
}
.zuanqian_header_right_read{
	text-align: center;
	width: 10%;
}
.zuanqian_header_left_read{
	height: 4.5rem;
	line-height: 4.5rem;
	color: #FFFFFF;
	padding: 0rem;
}
.zuanqian_header_center_read{
	display: inline-block;
}
.sign_back{
	color: #FFFFFF;
	position: relative;
	left: -44%;
	top: 2.6%;
}
.shoe_shaped_gold_ingot_button{
	outline: none;
	background-image: linear-gradient(#ffebc0,#ffa050);
	border-radius: 2.5rem;
	box-shadow: 0 0 1rem rgba(255,0,0,0.4);
	border: none;
	width: 3.5rem;
	height: 1.3rem;
	font-size: 0.75rem;
	display: block;
	color: #FF0000;
	margin: .5rem auto 0;
}
.shoe_shaped_gold_ingot{
	position: relative;
	left: -40%;
	top: 7.5%;
}
.my_data_header_left{
	height: 1.5rem;
	line-height: 3rem;
	color: #000000;
	padding: 0rem;
}
.my_data_copy_button {
	font-size: 0.75rem;
	border: 1px solid #ffa050;
	color: #ffa050;
	padding: .1rem .5rem;
	border-radius: 2rem;
	margin-left: .5rem;
}
.my_data_user_msg{
	width: 100%;
	height: 4.5rem;
}
.my_data_user_data{
	width: 70%;
	display: inline-block;
	height: 4.5rem;
	float: left;
	padding: 3%;
}
.my_data_withdraw {
	width: 7rem;
	height: 2.4rem;
	font-size: .8rem;
	border: 1px solid rgb(255, 250, 236);
	background-color: rgb(255, 250, 236);
	text-align: center;
	line-height: 1.4rem;
	padding: .5rem 1rem;
	border-radius: 2rem;
	color: #ffa050;
	margin-top: 1rem;
}
/*绑定账号页面*/
.promipt_dialog_box {
	border-radius: 1rem;
}
.account_manage_connect {
	padding: 0.5rem 0;
	margin: 0;
}
.account_manage_hint {
	width: 90%;
	height: 85%;
	background: #FFFFFF;
	border-radius: .5rem;
	margin: 0 auto;
	padding: 3% 4%;
}
.account_manage_head_center {
	text-align: center;
	font-size: 1.15rem;
	padding-left: 1.5rem;
}
.account_manage_head_right {
	padding-right: 0rem;
	display: inline-block;
	font-size: 1.05rem;
}
.account_manage_body {
	width: 100%;
	background: rgb(245, 245, 245);
	padding: 0 1rem 1rem;
}
.account_manage_body_button {
	width: 100%;
	display: flex;
	text-align: center;
	font-size: .9rem;
	background: #FFFFFF;
	border-radius: .75rem;
	height: 3rem;
	padding: .5rem 0;
}
.account_manage_body_button_img {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 40%;
}
.account_manage_body_button_com {
	line-height: 2rem;
	display: flex;
}
.account_manage_body_button_little {
	display: flex;
	align-items: center;
	width: 30%;
}
.account_manage_list_invite_no_success {
	background: #FFFFFF;
	margin-top: .75rem;
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	border-radius: 1rem;
}
.account_manage_list_invite_no_success_left {
	width: 20%;
	text-align: center;
	line-height: 4rem;
	vertical-align: middle;
}
.account_manage_list_invite_no_success_left_img {
	width: 3rem;
	height: 3rem;
	border-radius: 2.5rem;
	border: .05rem solid #000000;
	margin-top: .5rem;
}
.account_manage_list_invite_no_success_center {
	width: 40%;
	line-height: 4rem;
	font-size: 1rem;
	font-weight: bold;
	color: #000000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.account_manage_list_invite_success_body {
	background: #FFFFFF;
	margin-top: .75rem;
	width: 100%;
	height: 8rem;
	padding: 0 1rem;
	border-radius: 1rem;
}
.account_manage_list_invite_success_top_left {
	width: 20%;
	text-align: center;
	vertical-align: middle;
}
.account_manage_list_invite_success_top_left_img {
	width: 3rem;
	height: 3rem;
	border-radius: 2.5rem;
	border: .05rem solid #000000;
	margin-top: .5rem;
}
.account_manage_list_invite_success_top_center {
	width: 65%;
	color: #000000;
}
.account_manage_list_invite_success_top_center_text {
	font-size: 1rem;
	font-weight: bold;
	line-height: 2.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.account_manage_list_invite_success_top_right {
	width: 15%;
	text-align: right;
	color: rgb(253, 134, 91);
}
.account_manage_list_invite_success_buttom {
	text-align: center;
	padding: .75rem 0;
	line-height: 1.5rem;
	color: #000000;
}
.account_manage_invite_username{
	font-size: 1rem;
	font-weight: bold;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.no_bind{
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 2.5rem;
	border: .05rem solid #000000;
	display: inline-block;
	font-size: 2.8rem;
	font-weight: 100;
}
.bind_head_portrait{
	margin-top: 1.5rem;
	width: 100%;
}
.bind_head_portrait_text{
	width: 100%;
	height: 4.5rem;
	padding: 2% 3%;
	text-align: center;
}
.scan_qr_code_icon{
	font-size: 1.2rem;
	line-height: 2rem;
	color: rgb(255, 86, 10)
}
.bind_input{
	border: 0;
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	font-size: 1rem;
	width: 75%;
	padding: 0 5%;
	margin-left: 2%;
	border-left: .01rem solid rgb(210, 210, 210)
}
.qr_code_icon{
	font-size: 1.2rem;
	line-height: 2rem;
}
.qr_code{
	width: 4rem;
	height: 4rem;
	border-radius: 2.5rem;
	border: .05rem solid #000000;
}
.agreement{
	display: flex;
	justify-content: center;
	align-items: stretch;
	padding-bottom: 1rem;
}
/*绑定账号页面*/
/*我的*/
.list_box{display: flex;padding: .3rem 1rem;align-items: center;}
.list_box_left{width: 13%;text-align: left;}
.list_box_center{width: 74%;font-size: 1rem;}
.list_box_right{width: 13%;text-align: right;}
/*我的*/
.my_data_withdraw_button{height: 100%;line-height: 100%;}
.my_data_hint{font-size: .75rem;color: #DCDCDC;}
.my_data_hui{font-size: 1.2rem;color: #F8F8FF;}
.my_data_hui_text{display: inline-block;height: 100%;width: 53%;padding: 2%;margin-left: .5rem;}
.my_data_withdraw_pic{width: 4rem;height: 4rem;text-align: center;line-height: 4rem;display: inline-block;}
.my_data_withdraw_back{width: 100%;height: 5rem;margin-top: 0.5rem;background: url(../img/my_data_back.png) no-repeat;background-size:100% 100%;padding: .5rem;display: flex;margin-bottom: .5rem;}
.my_data_nickname{font-size: 1rem;font-weight: bold;color: #000000;}
.message_verification .message_content{ width: 80%; background-color: #999;border-radius: 1rem; }
.message_verification .message_content img{ width: 100%; display: block; }
.message_verification_but_box{ width: 100%; background-color: #FFFFFF; display: flex; flex-direction: row; justify-content: space-around; padding: 1.5rem 0; align-items: center; }
.message_verification_but_box .verification_button{ width: 40%; outline: 0; border: 0; background-image: linear-gradient(#ffcf0e,#ffbc07); padding: .6rem; border-radius: 2rem; color: #684d14; font-size: 1rem;
transition-duration: .3s;
-webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
transition-timing-function: cubic-bezier(.23,1,.32,1);
text-decoration: none;
}
.verification_button:active{
	width: 45%;
	color: #000000;
}

.survey_history_bottom_right .mu-item-sub-title, .mu-item-title { text-align: right; }

/* survey */
.survey_header{ width: 100%; margin: 0 auto; text-align: center; padding-top: 3rem;}
.survey_header img{ width: 40%; }

.survey_content { justify-content: center; flex-direction: column; }
.inner_box { background: #FFFFFF; border-radius: .8rem; width: 92%; margin: 1rem auto; padding: 1rem; display: flex; flex-direction: column;}
.survey_line{ display: flex; flex-direction: column; }
.survey_line span:first-child{ color: #000000; }
.survey_line span:last-child{ color: #999; flex-wrap: nowrap; white-space: nowrap; }

.survey_list{ display: flex; flex-direction: row; justify-content: space-between; }
.survey_list li{ display: flex; flex-direction: column; justify-content: center; text-align: center; width: 33%; }
.survey_list li:nth-child(2){ border-left: 1px solid #ccc; border-right: 1px solid #CCCCCC; }
.survey_list li span:first-child { font-weight: normal; font-size: .9rem; }
.survey_list li span:last-child { font-size: 1.025rem; color:#fe7454; font-weight: bold; }
.survey_history_bottom { 
	display: flex;
	font-size: 1.1rem;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0 1rem 0;
}
.survey_history_bottom_left { padding-left: 1rem; }
.survey_history_bottom_right{ justify-items: flex-end; }
.survey_history_bottom_right .mu-input{ padding: 0; margin: 0; min-height:0 }
.survey_history_bottom_right select { border: 1px solid #CCCCCC; color: #999999; max-height: 50%; padding: .3rem .8rem; font-size: .8rem; margin-right: 1rem; outline: 0; background-color: #EEEEEE; border-radius: 2rem; }
.survey_history_bottom_right select option{ padding: .3rem; font-size: .8rem; }
.survey_history_bottom_right  .profit_now{ border-radius: 2rem; border: 0; outline: 0; background-color: rgb(255,116,85); color: #FFFFFF; padding: .3rem 2rem; margin-right: 1rem; }


.history_exchange_button{ background-color: rgb(255,116,85); padding: .3rem 1.5rem .3rem 1.5rem;  margin-right: 1rem; color: #FFF; border-radius: 2rem; }
.select_layer { 
	position: absolute;
	right: 1rem;
	bottom: 0rem;
	background: #EEEEEE;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: .3rem 0rem;
	overflow: hidden;
	z-index: 9999;
	border-radius: .3rem .3rem 0 0;
	box-shadow: 0 -.3rem .8rem rgba(0,0,0,.3);
	border: 0.0625rem dashed #AAAAAA;
	border-bottom: 0px;
}
.select_points { font-size: 1rem; border: 1px solid #CCCCCC; background-color: #EEEEEE; margin-right: 1rem; padding: .3rem 1.5rem; border-radius: 2rem; }
.select_layer ul{ list-style: none; padding: 0; margin: 0; padding: .5rem 0; width: 100%; }
.select_layer ul li { padding: .4rem 2rem; width: 100%; }
.select_layer ul li.active { background-color: #fe7454; width: 100%; color: #FFFFFF; }
.select_layer ul li:active{ background-color: #F0C78A; color: #F44336; }

.inner_flex_between{ display: flex; justify-content: space-between; }
.uploaded_box{ display: block; width: 100%; height: 100%; overflow: hidden; }
.upload_file_display_simple {
	display: block;
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
}
.upload_file_display{
	display: block;
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
	top:-100%;
}
.upload_file_tools {
	float:left;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 6;
	position: relative;
}
.upload_file_tools .tools_button { background-color: rgba(0,0,0,0.7);  color: #FFFFFF; font-size: 0.9rem; padding: .3rem 0 .8rem; }
.no_more_data{ width: 100%; text-align: center; padding-top: 2rem; }

.video_author{ height: 2rem; line-height: 2rem; }
.video_item_poster_img{ height: 14rem; width: 100%; background: url(../img/no-img.jpg) center center; background-repeat: no-repeat; background-size: 90%; }
.news_three { display: flex; flex-direction: row; justify-content: space-around;}
.news_title_three { font-size: 0.9rem; line-height: 1.4rem; padding-bottom: .8rem; color: #333; }
.news_three_img_item{ width: 33%; }
.news_three_img_item img{ width: 100%; height: 100%; }
.news_sources { color: #999; line-height: 2rem; padding-top: .5rem; }

/** 分类选择 **/
.type_select_layer{ z-index: 9; position: fixed !important; background-color: #FFFFFF; border-radius: 1rem 1rem 0 0; left: 0; top:2rem; right:0; bottom: 0; box-shadow: 0 0 3rem rgba(0,0,0,0.7); padding: 1.5rem; display: flex;}
.type_select_layer .switch_items{ padding: 0.5rem 0; }

.common_loaded_all{ width: 100%; clear: left; display: block; text-align: center; padding: 2rem 0 0 0; }

.autoSurveyTaskLayer { position: fixed; top:0; bottom: 0; left: 0; right: 0; display: flex; background-color: rgba(0,0,0,.7); z-index: 99; justify-content: center; flex-direction: row; align-items: center; }
.autoSurveyTaskLayer .inner_content {
	background-image: url(../img/auto_title_bg.png);
	background-repeat: repeat-x;
	background-size: 100%;
	background-color: #FFFFFF;
	border-radius: 1rem;
	width: 80%;
	display: flex;
	flex-direction: column;
}
.autoSurveyTaskLayer .inner_content .title { color: #FFFFFF; font-size: 1.2rem; font-weight: bold; width: 100%; text-align: center; padding-top: 1rem; }
.autoSurveyTaskLayer .inner_content .close { position: relative; margin-top: -1.8rem; width: 100%; text-align: right; padding-right: 1rem; color: #FFFFFF;}
.autoSurveyTaskLayer .inner_content .content { display: flex; width: 100%; justify-content: center; align-items: center; flex-direction: row; padding: 4rem 0 2rem 0; }
.autoSurveyTaskLayer .inner_content .qrcode_box { border: 0.1875rem solid #fe8a5a; border-radius: 1.2rem; text-align: center; padding: 1rem;  }
.autoSurveyTaskLayer .inner_content .qrcode_box img{ width: 11rem; height: 11rem; }
.autoSurveyTaskLayer .inner_content .fun_button { display: flex; flex-direction: row; justify-content: space-between; align-items: stretch; border-top: 1px solid rgba(180,180,180,1); }
.autoSurveyTaskLayer .inner_content .fun_button .button { width: 100%; text-align: center; padding: .8rem 0 .8rem 0;  }
.autoSurveyTaskLayer .inner_content .fun_button .button:first-child { border-right: 1px solid rgba(180,180,180,1); }
.autoSurveyTaskLayer .inner_content .fun_button .button a {color: rgba(100,100,100,1); font-size: 1rem;}
.autoSurveyTaskLayer .inner_content .fun_button .button a:active { color: #fe8a5a; }

#top_show_second{
	display: flex;
	position: absolute;
	top: -15rem;
	left: 0;
	right: 0;
	height: 15rem;
	background-color: rgba(0,0,0,.8);
	z-index: 99;
}
.isFollowMash{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; background: rgba(0,0,0,.7); z-index: 8000; flex-direction: column;}
.isFollowMash .isFollowContent{ border-radius: 0rem; padding: 0rem; z-index: 99; }
.isFollowMash .isFollowContent img{ width: 100%; display: block;}
.follow_close_button { width:100%; color:#FFFFFF; text-align: right; z-index: 100; position: absolute; top:1rem; right: 1rem; }
.follow_close_button .iconfont { font-size: 1.5rem; }


.tools_box_index{ z-index: 99; position: fixed; bottom: 2rem; right: 2rem; background-color: rgba(255,255,255,.7); padding: .3rem; border-radius: 2rem; }
.tools_box_index img{ width:2.8rem; display: block; }
.top_refresh { width: 100%;  height: 10rem; background-color: rgba(0,0,0,.0); position: fixed; top: 0; left: 0; right: 0; z-index: 9999; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;}
.top_refresh .reload_icon img{ display: block; width: 2rem; border:0.0625rem solid rgba(255,255,255,.8); border-radius: 100%;}
.top_refresh .reload_icon i{ display: block; width: 2rem;  border-radius: 100%;}
.top_refresh .reload_icon{ margin-bottom: .5rem; }
.top_refresh .reload_text{ background-color: rgba(255,255,255,.8); border: 0; border-radius: 2rem; padding: .2rem .8rem; color: #FE7454; }



.mySwiper {
	background: #000000;
	width: 100%;
	height: 100%;
}

.mySwiper .swiper-slide {
text-align: left;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
overflow-x:hidden;
overflow-y: scroll;
}

.mySwiper .swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}


.my_menu{  }
.my_menu .swiper-slide{ text-align: center; }
.my_menu .swiper-slide.swiper-slide-active{ color: #FF0000; }
   .swiper_menu .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper_menu .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
	  width: 10rem;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
	.advertising_list {
		margin: 0 auto;
	}
	.my_data_adv {border-radius: .5rem;}
	.survey_history_adv{width: 92%;margin: 0 auto;border-radius: .5rem;}
	
	.jdh_adv { background: #FFFFFF; width: 100%; overflow: hidden; display: flex; justify-content: flex-end; align-items: flex-end; }
	.for_bottom { border-bottom: .5rem solid #EEEEEE;  }
	.for_top { border-top: .5rem solid #EEEEEE;  }
	.for_adv_t{ margin-top: .5rem;} /* 扩展在上边 */
	.for_adv_b{ margin-top: .5rem;}
	

	.get_hui_points{ display: flex; position: absolute; z-index: 1010; height: 100%; width: 100%; background-color: rgba(0,0,0,.8); justify-content: center; align-items: center;}
	.get_hui_points .hui_points_box { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 80%;}
	.get_hui_points .hui_points_box  img{ flex-grow: 0; flex-shrink: 0; width: 100%; }
	.get_hui_points .hui_points_box .hui_points_big_icon { text-align: center;}
	.get_hui_points .hui_points_box .hui_points_big_button{ text-align: center;}
	.get_hui_points .hui_points_box .hui_points_big_button img{ width:90%; }
	.get_hui_points .hui_points_box .hui_points_big_text { font-size: 1.8rem; color: #FFFFFF; padding: 1rem 0 1.6rem; }
	.get_hui_points .hui_points_box .hui_points_big_text span{ color: #FFFF00; font-weight: bold; font-size: 3rem; padding-right: .5rem; }
	
	.go_to_top{ position: fixed; bottom: 3rem; right: 1rem; display: none; }
	.go_to_top .iconfont { font-size: 2.5rem; color: #FE7454; }
	.go_to_top span{ width: 100%; display: block; }
	
	
	
	

	
	