body{
	background-color: rgb(245,245,245);
}
.tools_box_header{
	background-color: #fe7454;
	display: flex;
	flex-direction: row;
	font-size: 1.3rem;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0 .5rem 0;
	color: #FFFFFF;
}
.tools_box_header .iconfont { font-size: 1.3rem; }
.tools_box_header .left{ padding: 0 1rem; }
.tools_box_header .title{ flex-grow: 1; text-align: center; }
.tools_box_header .right{ padding: 0 1rem; }
.tools_box_header .right .iconfont { font-size: 1.5rem; }

.tools_box_item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
	background-color: #FFFFFF;
	margin: .5rem;
	border-radius: 1rem;
	font-size: 1rem;
	padding: .3rem 0 1rem 0;
}
.tools_box_item .item_line{ padding: 1rem .5rem 0 1rem; width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.tools_box_item .item_line.align_end{ justify-content: flex-end; }
.tools_box_item .item_line.align_start{ justify-content: flex-start; }
.tools_box_item .item_line .gray_line{ background-color: rgb(245,245,245); flex-grow: 1; border-radius: 2rem; padding: .5rem 1rem; display: flex; flex-direction: row; justify-content: space-between; color: #FE7454; }
.tools_box_item .item_line button { margin-right: .5rem; }
.tools_box_item .item_line .line_label { flex-shrink: 0; } 
.tools_box_item .item_line .line_label_c{ flex-shrink: 1; margin-left: 1rem; }

.model_layer_mash{ background-color: rgba(0,0,0,.7); position: fixed; top: 0; left: 0; bottom: 0; right:0; z-index: 9000; display: flex; justify-content: center; align-items: center; flex-direction: column; }
.model_layer_content{ background-color: #FFFFFF; width: 90%; border-radius: .6rem; padding: 1rem; font-size: 1rem; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.model_layer_content_line { flex-grow: 1; display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; padding: .7rem 0rem; }
.model_layer_content_line .label { font-size: 1rem; color: #000000; width: 30%; }
.model_layer_content_line .form { font-size: .8rem; flex-grow: 1; display: flex; flex-wrap: wrap;  }
.model_layer_content_line .form .check_box { width: 50%; }
.model_layer_content_line .form input { border: 0; outline: 0; background-color: #EEEEEE; padding: .5rem; flex-grow: 1; border-radius: .3rem; font-size: 1rem;}
.model_layer_content_line button { outline: 0; border: 0.0625rem solid #FFFFFF; border-radius: .3rem; padding: .7rem 0; margin: 0 .3rem; width: 40%; }
.model_layer_content_line button.normal { background-color: #FE7454; color: #FFF; }
.model_layer_content_line button.revert { border-color: #FE7454; background-color: #FFFFFF; color: #FE7454; }