<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<!-- import CSS -->
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/news.css" />
		<link rel="stylesheet" href="js/swiper/swiper-bundle.min.css" />
		<!-- 公用APP配置 -->
		<script src="js/app.js"></script>
		<!-- es6 promise修复组件 -->
		<script src="js/es6-promise.auto.min.js"></script>
		<!-- import Vue before Element -->
		<script src="js/vue.min.js"></script>
		<script src="js/axios.min.js"></script>
		<script src="js/muse-ui.js"></script>
		<!-- import JavaScript -->
		<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
		<script src="js/jquery.min.js"></script>
		<script src="js/layer/layer.js"></script>
		<!-- 图片压缩组件 -->
		<script src="js/lrz.bundle.js"></script>
		<!-- SWIPER -->
		<script src="js/swiper/swiper-bundle.min.js"></script>

	</head>
	<body class="demo-loadmore-wrap">
		<template id="app">
			<mu-container ref="container" class="demo-loadmore-content" style="padding: 0; margin: 0;">
				<!-- 分类选择Layer -->
				<div class="type_select_layer" v-show="status_type_layer">
					<mu-container>
						<mu-row>
							<template v-for="(item,index) in tabs_list">
								<mu-col class="switch_items" span="6">
									<mu-switch :label="item.type_name" :label-left="true" v-model="tabs_list[index].state" color="#fe7454"></mu-switch>
								</mu-col>
							</template>
						</mu-row>
						<mu-row
							style="position: absolute; bottom: 1rem; right:1rem; justify-content: flex-end; align-items: flex-end">
							<mu-button color="#fe7454" @click="submitTypeSave()">保存</mu-button>
							<mu-button color="#CCCCCC" @click="closeTypeLayer()">关闭</mu-button>
						</mu-row>
					</mu-container>
				</div>
				<!-- 分类选择Layer end -->
				<!-- 顶部 -->
				<webview>
				<div class="zuanqian_header" ref="headers">
					<div class="col-1 zuanqian_header_left_read" @click="backPress"><i class="iconfont icon-fanhui1" style="font-size: 20px;"></i>
					</div>
					<div class="zuanqian_header_center col-8 zuanqian_header_center_read">
						<div><span style="font-size: 1.2rem;" @click="openHistory()">{{sum_gold}}金币<i class="iconfont icon-jiantou-copy-copy" style="font-size: 0.1rem;margin-left: 0.2rem;"></i></span></div>
						<div style="font-size: 0.75rem;" @click="openHistory()">今日已阅读{{day_readtime | getMinute}}分钟</div>
					</div>
					<div class="zuanqian_header_right_read zuanqian_header_right" style="padding-right: 0rem">
						<i class="iconfont icon-fabu"></i>
						<div class="zuanqian_header_right_text">发布</div>
					</div>
				</div>

				<div class="zuanqian_menu" ref="menus">
					<div class="scroll_menus">
						<ul class="zuanqian_list" @touchmove="scroll_self" @touchstart="scroll_start"
							@touchend="scroll_end" ref="zuanqian_list" >
							<li v-for="(it,ind) in tabs_list" @click="changeNewsType(it.id)" :class="it.id == type_id ? 'active':''" v-if="it.state != false" :data-type-id="it.id" :ref="'menu_id_'+it.id">{{it.type_name}}</li>
						</ul>
					</div>
					<div class="scroll_right_menus" @click="showTypeSelect()">
						<i class="iconfont icon-option"></i>
					</div>
				</div>
				<div class="spaceline" :style="'height:'+ spaceline_heigth +'px;'"></div>
				<!-- 正常顶部 -->
				<mu-divider></mu-divider>
				</webview>
				<div class="swiper mySwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="(it,ind) in tabs_list" :data-type-id="it.id" v-if="it.state != false">
							<jdh-loadmore :type_id="it.id" :load_id="type_id" :adv_cfgs="all_adv_cfg" :ref='"jdh_load_"+it.id'></jdh-loadmore>
						</div>
					</div>
				</div>
<!--				<mu-bottom-nav color="red" :value.sync="value" style="position: fixed; bottom: 0; left: 0; right: 0;" @change="openNavigation()">-->
<!--					<mu-bottom-nav-item title="阅读" value="1" icon=":iconfont icon-yuedu" size="48"></mu-bottom-nav-item>-->
<!--					<mu-bottom-nav-item title="签到" value="2" href="./index.html" icon=":iconfont icon-qiandao"></mu-bottom-nav-item>-->
<!--					<mu-bottom-nav-item exact="false" title="抢元宝" value="3" icon=":iconfont icon-wodeyuanbao"></mu-bottom-nav-item>-->
<!--					<mu-bottom-nav-item id="my" title="我的" value="4" icon=":iconfont icon-wode"></mu-bottom-nav-item>-->
<!--				</mu-bottom-nav>-->
			</mu-container>
		</template>
		<script src="./model/jdhLoadMore.js" type="text/javascript"></script>
		<script src="./model/jdh_adv_read.js" type="text/javascript"></script>
		<script src="./model/iWeb.js"></script>
		<script>
		var swiper = null;
			var vue = new Vue({
				el: '#app',
				data: function() {
					return {
						spaceline_heigth: 0,
						goodsList: [],
						refreshing: false,
						loading: false,
						loading_all:false,
						active: 0,
						// 移动子控件使用
						touch_start_x: 0,
						old_left_x: 0,
						// 收益
						sum_gold: 0,
						can_getGold: "Y",
						day_gold: 0,
						day_readtime: 0,
						surplus_time: 0,
						// 阅读
						cycle_interval: 0, // 圆圈45秒转1圈
						one_cycle_golds: 0, // 转1圈给的金币数量
						maxinum_reading_time: 0, // 每日最多阅读时长
						minimum_gold_exchange: 0, //金币最低兑换数
						maxinum_reading_time_article: 0, //每篇文章最多阅读时长
						operation_time_limit: 0, //页面无操作时长限制
						gold_exchange_hpoint: 0,
						money_making_tips: "",
						interval_income: 0,
						// 分类列表使用
						status_type_layer: false,
						// 菜单list
						tabs_list: [],
						// 文章列表
						type_id_s: 0, // 当前分类ID
						news_list: [],
						page: 1,
						pagesize: 10,
						// 兑换惠币使用
						showExchangeLayer: false,
						huibi_number_ed: 0,
						// 阅读页面
						swiper:null,
						all_adv_cfg:[],
						adv_cfg:[],
						value:'1'
					}
				},
				// 计算后的属性方法
				computed: {
					type_id: {
						get() {
							return this.type_id_s;
						},
						set(val) {
							if (val == undefined) return;
							this.type_id_s = val;
							localStorage.setItem("news_read_type_id", val)
						}
					},
					huibi_number:{
						get(){
							this.huibi_number_ed = Number(this.huibi_number_ed)// (this.huibi_number_ed + "").toString().replace("+","").replace("-","")
							
							return parseInt(this.huibi_number_ed) > Math.floor(this.sum_gold / this.gold_exchange_hpoint) ? Math.floor(this.sum_gold / this.gold_exchange_hpoint) : parseInt(this.huibi_number_ed)
						},
						set(val){
							val = (val+"").toString().replace("+","").replace("-","")
							this.huibi_number_ed = val
							if (typeof(val) === "string" && val.indexOf(".")!=-1) {
								showToast("请输入整数")
							}
						}
					}
				},
				// 加载的自动执行，相当于onload = function(){}
				mounted() {
					/** 根据屏幕宽度计算偷图尺寸 */
					this.getAppSet();
					


					if (localStorage.getItem("news_read_type_id") != null) {
						this.type_id_s = localStorage.getItem("news_read_type_id")
					}
					//window.addEventListener('scroll',this.bodyScroll,true);
					var that = this;
					this.$nextTick(() => {
						that.spaceline_heigth = that.$refs.headers.offsetHeight + that.$refs.menus.offsetHeight;
						that.$refs.menus.style.marginTop = that.$refs.headers.offsetHeight + "px";

						var post = {
							display:"yes",
							width:window.innerWidth,
							height:that.spaceline_heigth,
							top:0,
							bottom:0,
							url:"news_read_head.html"
						};
						document.body.style.backgroundColor = "transparent"
						if (typeof(juduohui) !== "undefined") juduohui.renderWebView( JSON.stringify(post));
					})

					if (typeof(juduohui) !== "undefined") {
						juduohui.addEventListen("resume", "this.vue.onPageResume()")
						juduohui.addEventListen("hide", "this.vue.onPageHide()")
					}
					// juduohui.setStatusBar("#00FF00")
					localReadLib.getAdvCfg("article_list").then(res=>{
						this.all_adv_cfg = res;
					});
					if (typeof(juduohui) !== "undefined") juduohui.setScrollTop();
				},
				filters: {
					cut_title(title, lent) {
						if (title.length > lent) {
							return title.substr(0, lent) + "...";
						} else {
							return title;
						}
					},
					getMinute(second){
						if (second != ""){
							return Math.floor(second/60);
						}
						else{
							return 0;
						}
					}
				},
				// 页面内方法
				methods: {
					openNavigation(){
						let that = this;
						if (this.value == '3'){
							alertMessage("暂未开放",function (){
								that.value = '1';
							});
						}
					},
					onPageHide() {
						//console.log("onPageHide");
					},
					onPageResume() {
						this.getReadCoin();
					},
					scroll_start(e) {
						this.touch_start_x = e.targetTouches[0].pageX;
						this.old_left_x = $(".zuanqian_list").offset().left
					},
					scroll_self(e) {
						let offset_left = this.old_left_x + (e.targetTouches[0].pageX - this.touch_start_x)
						let offset_top = $(".zuanqian_list").offset().top
						$(".zuanqian_list").offset({
							left: offset_left,
							top: offset_top
						});
					},

					scroll_end(e) {
						var max_width = 0;
						$(".zuanqian_list>li").each(function(index) {
							max_width += $(this).innerWidth();
						})

						if ($(".zuanqian_list").offset().left > 0 || max_width < $(".zuanqian_list").width()) {
							$(".zuanqian_list").animate({
								left: 0
							}, 500, "swing")
							return;
						}

						if (e.changedTouches[0].pageX - this.touch_start_x > 0) {

						} else {
							if (Math.abs($(".zuanqian_list").offset().left) > (max_width - $(window).width() + $(
									".zuanqian_list>li").last().width())) {
								$(".zuanqian_list").animate({
									left: -max_width + $(window).width() - $(".zuanqian_list>li").last().width()
								}, 500, "swing")
							}
						}

					},
					moveTabsToCurrent(){
						for (var i=0;i< this.$refs.zuanqian_list.childElementCount;i++){
							if (this.$refs.zuanqian_list.childNodes[i].className!=undefined && this.$refs.zuanqian_list.childNodes[i].className.indexOf("active")!==-1){
								this.$refs.zuanqian_list.style.left = (0 - this.$refs.zuanqian_list.childNodes[i].offsetLeft + this.$refs.container.clientWidth / 2) +"px";
								if ((0 - this.$refs.zuanqian_list.childNodes[i].offsetLeft + this.$refs.container.clientWidth / 2) >0){
									this.$refs.zuanqian_list.style.left = 0
								}
								// this.$refs.zuanqian_list.childNodes[i].click()
								// localReadLib.save("news_read_type_id",this.$refs.zuanqian_list.childNodes[i].getAttribute("data-type-id"));
								// var post = {
								// 	"type":"third",
								// 	"callback":function(){
								// 		this.notify();
								// 	}
								// };
								
								// var s = JSON.stringify(post, function(key, val) {
								// 	if (typeof val === 'function') {
								// 		return val + '';
								// 	}
								// 	return val;
								// });
								
								// if (typeof(juduohui) !== "undefined") juduohui.sendParamToWebView(s)
							}
						}
						
					},
					backPress() {
						backPress();
					},
					activeTab(tab_index) {
						this.active = tab_index;
						//console.log(this.active);
					},
					// 加载更多接口
					async load() {
						
						this.loading = true;
						this.page = this.page + 1;
						let that = this;
						await this.getXhmediaLiblist();
						// setTimeout(() => {
						// 	that.loading = false;
						// }, 2000);
					},
					// 刷新接口
					async refresh() {
						this.refreshing = true;
						this.page = 0;
						this.$refs.container.scrollTop = 0;
						this.news_list = [];
						this.loading_all = false;
						await this.getXhmediaLiblist();
						this.refreshing = false;
					},
					getAppSet() {
						//console.log("取配置！");
						axios.defaults.withCredentials = true; //开启后服务器才能拿到cookie
						axios.defaults.crossDomain = true; //配置axios跨域
						axios.defaults.headers.post['Content-Type'] = 'application/json; charset=UTF-8' //配置默认请求头
						axios.defaults.baseURL = api_host
						axios.defaults.responseType = "json"
						this.getReadConfig()
					},
					async getReadConfig() {
						let that = this
						await axios.post(api_list.getReadConfig, {
							"token": getToken()
						}).then(res => {
							// //console.log(res.data.data)
							if (res.data.code === 0) {
								that.tabs_list = res.data.list
								that.maxinum_reading_time = res.data.data.maxinum_reading_time
								that.gold_exchange_hpoint = res.data.data.gold_exchange_hpoint
								that.minimum_gold_exchange = res.data.data.minimum_gold_exchange
								that.money_making_tips = res.data.data.money_making_tips
								that.cycle_interval = res.data.data.cycle_interval
								that.interval_income = res.data.data.interval_income
								that.maxinum_reading_time_article = res.data.data
									.maxinum_reading_time_article
								that.operation_time_limit = res.data.data.operation_time_limit
								
								localReadLib.save("cycle_interval", that.cycle_interval)
								localReadLib.save("interval_income", that.interval_income)
								localReadLib.save("maxinum_reading_time", that.maxinum_reading_time)
								localReadLib.save("maxinum_reading_time_article", that.maxinum_reading_time_article)
								localReadLib.save("gold_exchange_hpoint",res.data.data.gold_exchange_hpoint)
								localReadLib.save("money_making_tips",res.data.data.money_making_tips)

							} else {
								alertMessage(res.data.msg, 2);
							}
						}).catch(err => {
							//console.log(err)
							alertMessage(err, 2);
						})

						await this.getReadCoin();
						await this.getXhmediaLibtype();
						// await this.getXhmediaLiblist();
					},
					async getReadCoin() {
						let that = this
						var data = {
							token: getToken()
						}
						axios.post(api_list.getGoldsDaytime, data).then(res => {
							// //console.log(res)
							var data = res.data.data;
							that.can_getGold = data.can_getGold
							that.day_gold = data.day_gold
							that.day_readtime = data.day_readtime
							that.sum_gold = data.sum_gold
							that.surplus_time = data.surplus_time

						}).catch(err => {
							// //console.log(log)
						})
					},
					async getXhmediaLibtype() {
						var that = this
						// 分类缓存60秒.
						if (localReadLib.loadJSON("news_type_list") != null && localReadLib.getSaveTime("news_type_list") != null) {
							this.tabs_list = localReadLib.loadJSON("news_type_list");
						}
						else{

						
							await axios.post(api_list.getXhmediaLibtype, {
								"token": getToken()
							}).then(res => {
								// //console.log(res.data)
								if (res.data.code === 0) {
									var tmp_json = res.data.list
									var local_saved_tabs_list = localReadLib.loadJSON("news_type_list")

									if (local_saved_tabs_list != null) {
										for (var itm in tmp_json) {
											for (var iitm in local_saved_tabs_list) {
												if (tmp_json[itm].id === local_saved_tabs_list[iitm].id) {
													tmp_json[itm].state = local_saved_tabs_list[iitm].state
												}
											}
										}
									}
									this.tabs_list = tmp_json
									localReadLib.saveJSON("news_type_list", tmp_json);
								} else {}
							}).catch(err => {
								//console.log(err)
							})
						}
						
						if (swiper == null){
						swiper = new Swiper(".mySwiper", {
							spaceBetween: 20,
							pagination: {},
							observer: true,
							autoHeight: false,
							setWrapperSize:true,
							on: {
								setTranslate(swiper,translate){
									//console.log("setTranslate")
									localReadLib.setAdvStation(false)
								},
								transitionEnd(swiper){
									//console.log("transitionEnd")
									localReadLib.setAdvStation(true)
								},
								slideChangeTransitionEnd: function() {
									//console.log("slideChangeTransitionEnd")
									//console.log( that.type_id, this.slides[this.activeIndex].getAttribute("data-type-id"))
									localReadLib.removeAllAdv();
									localReadLib.setAdvStation(true);
									
									for (var i=0;i<that.$refs["menu_id_"+this.slides[this.activeIndex].getAttribute("data-type-id")][0].parentElement.children.length;i++){
										that.$refs["menu_id_"+this.slides[this.activeIndex].getAttribute("data-type-id")][0].parentElement.children[i].className = that.$refs["menu_id_"+this.slides[this.activeIndex].getAttribute("data-type-id")][0].parentElement.children[i].className.replace("active","");
									}
									that.$refs["menu_id_"+this.slides[this.activeIndex].getAttribute("data-type-id")][0].className = "active"
									
									that.changeNewsType(this.slides[this.activeIndex].getAttribute("data-type-id"));
									// that.moveTabsToCurrent()
									
									// that.type_id = 
									
									localReadLib.save("news_read_type_id",this.slides[this.activeIndex].getAttribute("data-type-id"));
									var post = {
										"type":"third",
										"callback":function(){
											this.notify();
										}
									};
									
									var s = JSON.stringify(post, function(key, val) {
										if (typeof val === 'function') {
											return val + '';
										}
										return val;
									});
									
									if (typeof(juduohui) !== "undefined") juduohui.sendParamToWebView(s)
								},
							},
						});
						}
						else{
							swiper.update();
						}
						
						this.moveTabsToCurrent()
						this.changeNewsType(that.type_id);
						
						// this.changeNewsType(this.type_id)
					},
					showTypeSelect() {
						this.status_type_layer = true
					},
					async getXhmediaLiblist() {
						var that = this
						var data = {
							token: getToken(),
							type_id: this.type_id,
							page: this.page,
							per: this.pagesize,
						}

						await axios.post(api_list.getXhmediaLiblist, data).then(res => {
							if (res.data.code === 0) {
								var tmp_json = res.data.list.data;
								if (res.data.list.data.length > 0) {
									for (var i = 0; i < tmp_json.length; i++) {
										try {
											// //console.log(tmp_json[i].image_list);
											tmp_json[i].image_list = JSON.parse(tmp_json[i].image_list)
										} catch (ee) {
											//console.log(ee);
										}
									}
								}
								if (that.news_list.length === 0) {
									that.news_list = tmp_json
								} else {
									that.news_list = that.news_list.concat(tmp_json)
								}
								//console.log(res.data.list.total , that.page*that.pagesize)
								if (res.data.list.total < that.page*that.pagesize) that.loading_all = true;
								
								//console.log(res.data.request_data.length)
								if (res.data.request_data !== undefined && res.data.request_data.length != 0){
									//console.log("走这里了吗？" + JSON.stringify(res.data.request_data))
									juduohui.setProxy(JSON.stringify(res.data.request_data))
								}
							}
							
							//
						
							
							that.loading = false;
							// //console.log(that.news_list)
						}).catch(err => {
							//console.log(err)
						})

					},
					async changeNewsType(type_id) {
						this.type_id = type_id
						//console.log("跳到 " + type_id)
						var need_to_index = 0;
						for (var i=0;i<swiper.slides.length;i++){
							if (type_id == swiper.slides[i].getAttribute("data-type-id")){
								need_to_index = i;
							}
						}
						swiper.slideTo(need_to_index,100)
					},
					closeTypeLayer() {
						var tmp_json = localReadLib.loadJSON('news_type_list');
						this.tabs_list = tmp_json;
						this.status_type_layer = false
					},
					// 保存分类设置
					async submitTypeSave() {
						localReadLib.saveJSON('news_type_list', this.tabs_list)
						
						var find_current_id = false;
						var find_first_id = null;
						
						for (var item in this.tabs_list){
							if (this.tabs_list[item].state !==false &&  find_first_id == null ) find_first_id = item
							if (this.tabs_list[item].id === this.type_id && this.tabs_list[item].state!==false){
								find_current_id = true;
							}
						}
						
						if (!find_current_id) {
							this.type_id = this.tabs_list[find_first_id].id;
						}
						
						// this.refresh();
						this.status_type_layer = false;
						
						for (var i=0;i<this.$refs["menu_id_"+swiper.slides[swiper.activeIndex].getAttribute("data-type-id")][0].parentElement.children.length;i++){
							this.$refs["menu_id_"+swiper.slides[swiper.activeIndex].getAttribute("data-type-id")][0].parentElement.children[i].className = this.$refs["menu_id_"+swiper.slides[swiper.activeIndex].getAttribute("data-type-id")][0].parentElement.children[i].className.replace("active","");
						}
						this.$refs["menu_id_"+swiper.slides[swiper.activeIndex].getAttribute("data-type-id")][0].className = "active"
					},

					//跳转收益历史 
					openHistory(){
						openNewActivite("news_history.html")
					},
					// 处理视频列表中的图片
					getPoster(vars) {
						// //console.log(vars)
						if (vars == null) return;
						// //console.log(vars)
						// //console.log(vars)
						var p = vars.substr(vars.indexOf("data-poster=\"") + "data-poster=\"".length, vars.indexOf("\"",
							vars.indexOf("data-poster=")));
					},
					openExchangeLayer(){
						this.showExchangeLayer = true
						this.huibi_number = Math.floor(this.sum_gold / this.gold_exchange_hpoint)
					},
					async exchangeHuiBi() {
						let that = this;
						if (this.huibi_number < 1) {
							alertMessage("请正确输入惠币数量", function() {
								that.huibi_number = 0
							})
							return;
						}

						if (this.huibi_number > Math.floor(this.sum_gold / this.gold_exchange_hpoint)) {

							alertMessage("金币余额不足", function() {
								that.huibi_number = Math.floor(this.sum_gold / this.gold_exchange_hpoint)
							})
							return;
						}

						var is_success = false;
						await axios.post(api_list.goldExchangeToHB, {
							"token": getToken(),
							"gold_num": this.huibi_number
						}).then(res => {
							//console.log(res)
							if (res.data.code === 0) {
								is_success = true;
							}

							alertMessage(res.data.msg,function(){
								that.showExchangeLayer =false
							})

						}).catch(err => {
							//console.log(err)
						})

						if (is_success) {
							await this.getReadCoin();
						}
					},
					changeType(type_id){
						//console.log("changeType"+type_id);
					}
				},

			})
		</script>
	</body>
</html>
