<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<!-- import CSS -->
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/news.css">
		<!-- 公用APP配置 -->
		<script src="js/app.js"></script>
		<!-- import Vue before Element -->
		<script src="js/vue.min.js"></script>
		<script src="js/axios.min.js"></script>
		<script src="js/muse-ui.js"></script>
		<!-- import JavaScript -->
		<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
		<script src="js/jquery.min.js"></script>
		<script src="js/layer/layer.js"></script>

	</head>
	<body style="background-color: #fead62;" class="demo-loadmore-wrap">
		<template id="app">
			<mu-container ref="container" class="demo-loadmore-content" style="width: 100%; padding: 0; margin: 0; background: url(img/top_qd_mini_bg.png); background-repeat: no-repeat; background-size: 100%; background-position: top center; ">
				<!-- 顶部 -->
				<div class="art_header" style="padding-bottom: 0rem;">
					<div class="art_left" @click="backPress"><i class="iconfont icon-fanhui1"></i></div>
					<div class="art_title">金币记录</div>
					<div class="art_right"></div>
				</div>
				<!-- 兑换弹窗 -->
				<template v-if="showExchangeLayer">
					<mu-scale-transition>
						<div class="mExchangeLayer">
							<mu-container class="mExchangeContents">
								<mu-row class="form_title">
									<mu-col fill='true' style="text-align: center;">兑换惠币</mu-col>
								</mu-row>
								<mu-row>
									<mu-col class="mExchangeCloseButton">
										<div class="guanbi_button"><i class="iconfont icon-guanbi manbeijing" @click="showExchangeLayer = false"></i></div>
									</mu-col>
								</mu-row>
								<mu-row gutter class='mExchangeColumn'>
									<mu-col span="5" md="3" class='mExchangeLeft'>金币余额</mu-col>
									<mu-col span="7" md="7" order=1 class='mExchangeRight'>{{sum_gold}}个</mu-col>
								</mu-row>
								<mu-row gutter class='mExchangeColumn'>
									<mu-col span="5" md="3" class='mExchangeLeft'>兑换比例</mu-col>
									<mu-col span="7" md="7" order=1 class='mExchangeRight'>1:{{gold_exchange_hpoint}}
									</mu-col>
								</mu-row>
								<mu-row gutter class='mExchangeColumn'>
									<mu-col span="5" md="3" class='mExchangeLeft'>兑换惠币</mu-col>
									<mu-col span="7" md="7" order=1 class='mExchangeRight'>
										<div class="mExchangeInputBox">
											<span style="flex-grow:1"><input v-model="huibi_number" ref="huibi_number" type="number" min="1" class="mExchangeInputText"></span><span>个</span>
										</div>
									</mu-col>
								</mu-row>
								<mu-row>
									<mu-col fill='true' class='mExchangeButtons'>
										<mu-button color="#FFF1C4" text-color="#FF5700" round large
											:class="'exchange_button'" @click="exchangeHuiBi">立即兑换
										</mu-button>
									</mu-col>
								</mu-row>
							</mu-container>
				
						</div>
					</mu-scale-transition>
				</template>
				<!-- 兑换弹窗结束 -->
				<div class="survey_content">
					<div class="inner_box">
						<div class="news_zq_titles">
							<span class='font-small up'>『</span><span class='font-bold'>赚钱</span>小技巧<span
								class='font-small down'>』</span>
						</div>
						<div class="news_zq_jiqiao" v-html="money_making_tips"></div>
					</div>
					<jdh_adv idt="make_money_index" :cfg="adv_cfg" ref="jdh_adv_t" refm="jdh_adv_t" style="width: 92%;" class="survey_history_adv" v-show="advertising_height"></jdh_adv>
					<div class="inner_box">
						<mu-load-more @refresh="refresh" :refreshing="refreshing" :loading="loading" @load="load"
							:loaded-all="loading_all">
							<mu-list v-if="record_list.length>0">
								<template v-for="item in record_list">
									<!-- 第一种样式 - 上边文档标题，下边一张大图 -->
									<mu-row style="margin: .6rem auto .5rem auto;" @click="openDesc(item)" gutter>
										<mu-col :fill="true" span="1">
											<span class=""><img src="img/gold_coin.png" class="img_icon"></span>
										</mu-col>
										<mu-col :fill="true" span="7">
											<div class="survey_line">
												<span>{{item.action_zh | calcTitle(12)}}</span>
												<span style="font-size: .7rem;">{{item.create_time}}</span>
											</div>
										</mu-col>
										<mu-col :fill="true" span="4">
											<div class="survey_line" style="text-align: right; font-size: 1.2rem;">
												<span style="color:#FE7454">{{item.action_symbol}}{{item.gold}} <span style="font-size: .7rem;">金币</span></span>
											</div>
										</mu-col>
									</mu-row>
									<mu-divider></mu-divider>
								</template>
								<div class="common_loaded_all" v-if="loading_all">已加载全部信息</div>
							</mu-list>
							<div class="no_more_data" v-if="refreshing == true">
								努力加载信息中...
							</div>
							<div class="no_more_data" v-if="record_list.length<1 && refreshing != true">
								暂无更多数据
							</div>
						</mu-load-more>
					</div>
				</div>
				<!-- <span class="survey_line"><span class=""><img src="img/gold_coin.png" class="img_icon"></span>666</span> -->
				<!-- 正常顶部 -->
				<div class="nospace" style="width: 100%; height: 3rem; display: block;"></div>

				<div class="bottom_nav">
					<div class="survey_history_bottom">
						<div class="survey_history_bottom_left">余额:<span class="color_orange bold"> {{sum_gold}}
								{{coin_unit}}</span></div>
						<div class="survey_history_bottom_right">
							<div class="history_exchange_button" @click="openExchangeLayer()">兑换</div>
							<!-- 							<select v-model="filter_select" >
								<option v-for="(option,index) in record_status_text" :key="option" :label="option"
									:value="index" :value="" v-text="option"></option>
							</select> -->
						</div>
					</div>
				</div>
			</mu-container>
			
			
		</template>
	</body>

	<script>
		localReadLib.require("jdh_adv.js")
		var vue = new Vue({
			el: '#app',
			data: function() {
				return {
					record_list: [],
					refreshing: false,
					loading: false,
					loading_all: false,
					page: 0,
					sum_gold: 0,
					coin_unit:"金币",
					showExchangeLayer:false,
					gold_exchange_hpoint:0,
					huibi_number_ed: 0,
					money_making_tips:"",
					// 广告配置
					adv_cfg: [],
					advertising_height: true

				}
			},
			// 计算后的属性方法
			computed: {
				huibi_number:{
					get(){
						this.huibi_number_ed = Number(this.huibi_number_ed)
						return parseInt(this.huibi_number_ed) > Math.floor(this.sum_gold / this.gold_exchange_hpoint) ? Math.floor(this.sum_gold / this.gold_exchange_hpoint) : parseInt(this.huibi_number_ed)
					},
					set(val){
						val = (val+"").toString().replace("+","").replace("-","")
						this.huibi_number_ed = val
						if (typeof(val) === "string" && val.indexOf(".")!=-1) {
							showToast("请输入整数")
						}
					}
				}
			},
			filters: {},
			// 加载的自动执行，相当于onload = function(){}
			mounted() {
				/** 根据屏幕宽度计算偷图尺寸 */

				this.getAppSet();
				//window.addEventListener('scroll',this.bodyScroll,true);
				window.addEventListener('scroll', this.bodyScroll, true);
				this.getAllGolds();
				this.getGoldrecord();
				this.getAdvSetting();
				juduohui.countViewPage();

			},
			// 页面内方法
			methods: {
				backPress() {
					//console.log("点击了这里！")
					backPress();
				},
				getAdvSetting(){
					if (!getAdIsOpen()) return;
					localReadLib.getAdvCfg("sign_video,make_money_index,videos_money").then(res => {
						this.adv_cfg = res;
					})
				},
				async heavyAdvertising() {
					let that = this;
					localReadLib.removeAllAdv(); // 移除所有广告
					localReadLib.setAdvStation(false);
				},
				bodyScroll(e) {
					if (typeof(juduohui) !== "undefined") juduohui.setScrollTop(); // 触发页面滚动的广告定位
				},
				async refresh() {
					//console.log('调用refresh：')
					this.refreshing = true;
					this.record_list = [];
					this.$refs.container.scrollTop = 0;
					this.$data.page = 0
					this.loading_all = false
					await this.heavyAdvertising();
					await this.getGoldrecord();
					this.refreshing = false;
				},
				load() {
					this.loading = true;
					this.getGoldrecord();
				},
				getAppSet() {
					commonAppSetting()
					this.getReadConfig()
				},
				async getReadConfig() {
					let that = this
					await axios.post(api_list.getReadConfig, {
						"token": getToken()
					}).then(res => {
						// //console.log(res.data.data)
						if (res.data.code === 0) {
							that.gold_exchange_hpoint = parseInt(res.data.data.gold_exchange_hpoint)
							that.money_making_tips = res.data.data.money_making_tips
						} else {
							alertMessage(res.data.msg, 2);
						}
					}).catch(err => {
						//console.log(err)
						alertMessage(err, 2);
					})

				},
				async getAllGolds() {
					//console.log('获取剩余金币')
					await axios.post(api_list.getAllGolds, {
							"token": getToken()
						})
						.then((res) => {
							//console.log(res);
							if (res.data.code === 0) {
								this.sum_gold = res.data.gold
							} else {
								alertMessage(res.data.msg)
							}
						})
						.catch((err) => {
							alertMessage(err.message)
						});
				},
				async getGoldrecord() {
					//console.log('重新加载记录')
					var data = {
						"token": getToken(),
						"page": (this.page = this.page + 1),
						"per": 10
					};

					await axios.post(api_list.getGoldrecord, data).then((res) => {
						//console.log(res.data.data.data);
						this.record_list = this.record_list.concat(res.data.data.data);

						if (res.data.data.data.length < 10) {
							this.$data.loading_all = true
						}

						this.page = res.data.data.current_page
						this.loading = false;
					}).catch((err) => {
						alertMessage(err.message)
					});
					this.$nextTick(() => {
						localReadLib.removeAllAdv(); // 移除所有广告
						localReadLib.setAdvStation(true);
						this.$refs.jdh_adv_t.loadAdvs();
						this.advertising_height = true;
					})
				},
				openExchangeLayer(){
					// this.showExchangeLayer = true
					this.huibi_number = Math.floor(this.sum_gold / this.gold_exchange_hpoint)
					localReadLib.save('huibi_number',this.huibi_number)
					localReadLib.save('sum_gold',this.sum_gold)
					localReadLib.save('gold_exchange_hpoint',this.gold_exchange_hpoint)
					localReadLib.alert({
						"url":"./conversion_hui_hint.html",
						"close":function(){
							this.getAllGolds();
							//console.log("这里的回调的内容");
						}
					})
				},
				async exchangeHuiBi() {
					let that = this;
					
					if (this.huibi_number < 1) {
						alertMessage("请正确输入惠币数量", function() {
							that.$data.huibi_number = 0
						})
						return;
					}
				
					if (this.huibi_number > Math.floor(this.sum_gold / this.gold_exchange_hpoint) ) {
				
						alertMessage("金币余额不足", function() {
							that.huibi_number = 0
						})
						return;
					}
				
					var is_success = false;
					await axios.post(api_list.goldExchangeToHB, {
						"token": getToken(),
						"gold_num": this.huibi_number
					}).then(res => {
						//console.log(res)
						if (res.data.code === 0) {
							is_success = true;
						}
				
						alertMessage(res.data.msg,function(){
							that.showExchangeLayer =false
						})
				
					}).catch(err => {
						//console.log(err)
					})
				
					if (is_success) {
						await this.getAllGolds();
					}
				},
				closeBase() {
					//console.log(this.advertising_height)
					//console.log('调用页面内的函数')
					localReadLib.removeAllAdv(); // 移除所有广告
					localReadLib.setAdvStation(false);
					this.advertising_height = false
				},
				refreshAdvertising() {//jdh_adv.js文件调用
					localReadLib.removeAllAdv(); // 移除所有广告
					this.$refs.jdh_adv_t.loadAdvs();
				}
			}
			
		})
	</script>

</html>
